.App {
  text-align: center;
  align-items: center;
  background-color: #9DCAFF;
  font-family: Pretendard;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center{
  display: flex;
  align-items: center;
  margin: 0 auto; /*수평 - 중간 배열*/
}
.downcenter{
  align-items: center;
  margin: 0 auto; /*수평 - 중간 배열*/
}
.icon{
  font-size: 5em;
  animation: motion 0.3s /* 속도 */
             linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
             infinite alternate; /* 무한 반복 */
}
@keyframes motion {
0% {margin-top: 0px;} /* 처음 위치 */
100% {margin-top: 10px;} /* 마지막 위치 */}


.whitebox {
  width: 819px;
  background: rgba(255, 255, 255, 0.70);
  border-radius: 32px;
  border: 2px solid #FFF; 
  
  padding: 20px;
  margin: 0 auto; /*수평 - 중간 배열*/
  flex-shrink: 0;
  
}